/* base */
@charset "utf-8";
*{margin: 0; padding: 0;}
a{text-decoration: none; color: black;}
ul,ol{list-style: none;}
img,video,iframe{vertical-align: middle;}
body{background-color: #f1efe5; font-family: 'Noto Sans KR', sans-serif; font-size: 15px; line-height: 24px; min-width: 1450px;}
h1{text-align: center; margin: 50px 0; margin-bottom: 100px; font-family: 'Bungee', cursive; color: #243438; margin-top: 120px;}

/* header */
.header{margin: 0 auto; width: 1320px; display: flex; justify-content: space-between; align-items: center; margin-top: 20px;}
.icon_left{padding-right: 10px;}
.icon{width: 100px;}
.submenu ul{display: flex; width: 550px; font-family: 'Bungee', cursive; font-size: 20px; color: #243438;}
.submenu ul li{padding: 0 30px; }
.submenu ul a{color: #243438;}

nav ul ul {display: none; position: absolute; top: 100%; left: 0; background-color: #fff;}
nav ul li:hover > ul {display: block;}
nav ul li {position: relative;}
nav ul li a {display: block; color: #fff; text-decoration: none;}
nav ul ul li {position: relative;}
nav ul ul li a {color: #333;}
nav ul ul ul {position: absolute; left: 100%; top: 0;}

/* mainbanner */
.as_banner{margin-top: 20px; width: 100%;}
.subscribe{width: 1320px; margin: 0 auto; align-content: center; text-align: center; margin-bottom: 120px;}
.speciality{width: 1320px; margin: 0 auto; text-align: center; margin-top: 120px;}
.as_photo{width: 100%;}
#photo{width: 100%;}
#photoo{width: 100%;}

/* footer */
.footer{background-color: #243438; height: 280px; margin-top: 120px; width: 100%;}
.footer_inner{width: 1320px; margin: 0 auto; display: flex; position: relative;}
.footer_middle{text-align: center; padding-top: 50px; width: 642px;}
.footer_middle ul a{font-size: 13px; color: #e3e0d4; font-weight: bold;}
.footer_right{height: 50px; width: 352px;  align-content: center; margin-top: 125px; }
.footer_right_inner{width: 240px; display: flex; justify-content: space-around;}
.footer_left{margin-top: 86px;}
#footer_middle_top{display: flex;}
#footer_middle_top li{padding: 0 15px; text-align: center;}


